html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(51, 51, 51) !important;
    padding-top: 0px;
    
}

.navbar {
    --bs-navbar-padding-y: 0.5rem !important;
}

#navbar_logo {
    width: 4rem;
    margin-left: 1.5rem;
    background-color: #000000;
}

@media screen and (max-width:600px) {
    #navbar_logo {
        width: 3rem;
        padding-left: 0rem;
    }

    .name_nav {
        text-align: left;
        font-size: 1.2rem;
    }

}

.navbar-toggler-icon {
    background-color: white;
}

#navbar_logo:hover {
    cursor: pointer;
}

.nav-link {
    color: black !important;
    font-weight: 500;
    font-size: 1rem !important;
}

.nav-link:hover {
    color: #af8a34 !important;
}

@media screen and (min-width:1000px) {
    #current {
        background-color: #dbbc83
        !important;
        border-radius: 9px;
        color: rgb(0, 0, 0) !important;
    }

}

.actual_logo a {
    text-decoration: none;
}

.actual_logo a:hover {
    transition: 0.1s;
}

#login_button {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    background-color: black !important;
}

#login_button:hover {
    background-color: #D2AE6D
    !important;
    border-color: #D2AE6D;
    color: #000000 !important;
}

.name_nav {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
#marketplace_nav{
    cursor: not-allowed !important;
}






.bgCover1 {
    /* background-image: url(bg.png); */
    background-color: rgb(245, 245, 245);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    position: fixed;
    /* background-color: var(--white); */
    z-index: -1;
}




.homepage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 670px;
    color: black;
}
.mainName{
    font-family: 'Anton';
    font-size: 6.2rem;
    text-align: center;

}



/* 
.homepage_image{
    width: 50.5%;
} */
.homepage_image img{
    width: 40rem;
    filter: drop-shadow(4px 4px 4px black);
}


.about{
    background-color: #D2AE6D;
    height: 600px;
}
